<!-- q6: meal_replacement_used_before -->
<div class="quiz-item quiz-q6 is-hidden" data-quiz-item="q6" data-quiz-item-handle="mealReplacementUsedBefore">
  <div class="quiz-item__inner">
    <h2 class="h2-headline">{{ "personalized_quiz.meal_replacement_used_before.headline" | t }}</h2>
    <div class="quiz-options">
      <div class="quiz-option">
        <input id="quiz-meal_replacement_used_before-Ja" type="radio" name="meal_replacement_used_before" value="Ja" data-quiz-answer>
        <label for="quiz-meal_replacement_used_before-Ja">{{ "personalized_quiz.meal_replacement_used_before.option_yes" | t }}</label>
      </div>
      <div class="quiz-option">
        <input id="quiz-meal_replacement_used_before-Nein" type="radio" name="meal_replacement_used_before" value="Nein" data-quiz-answer>
        <label for="quiz-meal_replacement_used_before-Nein">{{ "personalized_quiz.meal_replacement_used_before.option_no" | t }}</label>
      </div>
    </div>
    <div class="quiz-item__buttons quiz-item__buttons-floating">
      <button type="button" data-quiz-prev class="btn btn--tertiary"><img src="{{ 'icon-quiz-back.svg' | asset_url }}" class="quiz-option__img" alt=""></button>
      <button type="button" data-quiz-next class="btn" disabled>{{ "personalized_quiz.meal_replacement_used_before.button_next_text" | t }}</button>
    </div> 
  </div>
</div>
<!-- / q6 -->