<!-- q22: proteinshake -->
<div class="quiz-item quiz-q22 is-hidden" data-quiz-item="q22"  data-quiz-item-handle="proteinShake">
  <div class="quiz-item__inner">
    <h2 class="h2-headline">{{ "personalized_quiz.proteinshake.headline" | t }} <a href="#" class="btn btn--text quiz-info__btn" data-popup-open="q22">{% render 'icon-quiz-info' %}</a></h2>
    <div class="quiz-options">
      <div class="quiz-option">
        <input id="quiz-proteinShake-Ja" type="radio" name="proteinShake" value="true" data-quiz-answer>
        <label for="quiz-proteinShake-Ja">{{ "personalized_quiz.proteinshake.option_yes" | t }}</label>
      </div>
      <div class="quiz-option">
        <input id="quiz-proteinShake-Nein" type="radio" name="proteinShake" value="false" data-quiz-answer>
        <label for="quiz-proteinShake-Nein">{{ "personalized_quiz.proteinshake.option_no" | t }}</label>
      </div>
    </div>
    <div class="quiz-item__buttons quiz-item__buttons-floating">
      <button type="button" data-quiz-prev class="btn btn--tertiary"><img src="{{ 'icon-quiz-back.svg' | asset_url }}" class="quiz-option__img" alt=""></button>
      <button type="button" data-quiz-next class="btn" disabled>{{ "personalized_quiz.proteinshake.button_next_text" | t }}</button>
    </div> 
  </div>
  <div class="popup quiz-popup is-hidden" data-popup="q22">
    <div class="popup-window">
      <button class="close" type="button" data-popup-close>{% render 'icon-quiz-close' %}</button>
      <div class="quiz-extra-info">
        <h4 class="h5-headline">{{ "personalized_quiz.proteinshake.popup_headline" | t }}</h4>
        <p>{{ "personalized_quiz.proteinshake.popup_subtitle" | t }}</p>
      </div>
    </div>
    <div class="popup-bg" data-popup-close> </div>
  </div>
</div>
<!-- / q22 -->