<!-- q20: channel_first_seen -->
<div class="quiz-item quiz-q20 is-hidden" data-quiz-item="q20" data-channel_first_seen  data-quiz-item-handle="channelFirstSeen">
  <div class="quiz-item__inner">
    <h2 class="h2-headline">{{ "personalized_quiz.channel_first_seen.headline" | t }}</h2>
    <input type="hidden" name="channel_first_seen" checked="" value="null" data-quiz-answer="">
    <div class="quiz-options quiz-options--inline justify-content-center">
      <div class="quiz-option quiz-option--icon" data-has-comment>
        <input id="quiz-Testbericht" type="checkbox" name="channel_first_seen" value="test_review" data-quiz-answer data-has-comment>
        <label for="quiz-Testbericht">
          <div class="quiz-option__circle">
          </div>
          <span class="details">{{ "personalized_quiz.channel_first_seen.option_test_review" | t }}</span>
        </label>
      </div>

      <div class="quiz-option quiz-option--icon">
        <input id="quiz-Facebook" type="checkbox" name="channel_first_seen" value="facebook" data-quiz-answer>
        <label for="quiz-Facebook">
          <div class="quiz-option__circle">
          </div>
          <span class="details">{{ "personalized_quiz.channel_first_seen.option_facebook" | t }}</span>
        </label>
      </div>

      <div class="quiz-option quiz-option--icon">
        <input id="quiz-Instagram" type="checkbox" name="channel_first_seen" value="instagram" data-quiz-answer>
        <label for="quiz-Instagram">
          <div class="quiz-option__circle">
          </div>
          <span class="details">{{ "personalized_quiz.channel_first_seen.option_instagram" | t }}</span>
        </label>
      </div>

      <div class="quiz-option quiz-option--icon">
        <input id="quiz-Google" type="checkbox" name="channel_first_seen" value="google" data-quiz-answer>
        <label for="quiz-Google">
          <div class="quiz-option__circle">
          </div>
          <span class="details">{{ "personalized_quiz.channel_first_seen.option_google" | t }}</span>
        </label>
      </div>

      <div class="quiz-option quiz-option--icon">
        <input id="quiz-Empfehlung" type="checkbox" name="channel_first_seen" value="referral" data-quiz-answer>
        <label for="quiz-Empfehlung">
          <div class="quiz-option__circle">
          </div>
          <span class="details">{{ "personalized_quiz.channel_first_seen.option_referral" | t }}</span>
        </label>
      </div>

      <div class="quiz-option quiz-option--icon">
        <input id="quiz-Amazon" type="checkbox" name="channel_first_seen" value="amazon" data-quiz-answer>
        <label for="quiz-Amazon">
          <div class="quiz-option__circle">
          </div>
          <span class="details">{{ "personalized_quiz.channel_first_seen.option_amazon" | t }}</span>
        </label>
      </div>

      <div class="quiz-option quiz-option--icon">
        <input id="quiz-Supermarkt" type="checkbox" name="channel_first_seen" value="supermarket" data-quiz-answer>
        <label for="quiz-Supermarkt">
          <div class="quiz-option__circle">
          </div>
          <span class="details">{{ "personalized_quiz.channel_first_seen.option_supermarket" | t }}</span>
        </label>
      </div>

      <div class="quiz-option quiz-option--icon">
        <input id="quiz-TikTok" type="checkbox" name="channel_first_seen" value="tiktok" data-quiz-answer>
        <label for="quiz-TikTok">
          <div class="quiz-option__circle">
          </div>
          <span class="details">{{ "personalized_quiz.channel_first_seen.option_tiktok" | t }}</span>
        </label>
      </div>

      <div class="quiz-option quiz-option--icon" data-has-comment>
        <input id="quiz-Influencer" type="checkbox" name="channel_first_seen" value="influencer" data-quiz-answer data-has-comment>
        <label for="quiz-Influencer">
          <div class="quiz-option__circle">
          </div>
          <span class="details">{{ "personalized_quiz.channel_first_seen.option_influencer" | t }}</span>
        </label>
      </div>

      <div class="quiz-option quiz-option--icon">
        <input id="quiz-Youtube" type="checkbox" name="channel_first_seen" value="youtube" data-quiz-answer>
        <label for="quiz-Youtube">
          <div class="quiz-option__circle">
          </div>
          <span class="details">{{ "personalized_quiz.channel_first_seen.option_youtube" | t }}</span>
        </label>
      </div>

      <div class="quiz-option quiz-option--icon">
        <input id="quiz-TV" type="checkbox" name="channel_first_seen" value="tv" data-quiz-answer>
        <label for="quiz-TV">
          <div class="quiz-option__circle">
          </div>
          <span class="details">{{ "personalized_quiz.channel_first_seen.option_tv" | t }}</span>
        </label>
      </div>

      <div class="quiz-option quiz-option--icon" data-has-comment>
        <input id="quiz-Andere-Social-Media" type="checkbox" name="channel_first_seen" value="other_social_media" data-quiz-answer data-has-comment>
        <label for="quiz-Andere-Social-Media">
          <div class="quiz-option__circle">
          </div>
          <span class="details">{{ "personalized_quiz.channel_first_seen.option_other_social_media" | t }}</span>
        </label>
      </div>

      <div class="quiz-option quiz-option--icon" data-has-comment>
        <input id="quiz-Sonstige" type="checkbox" name="channel_first_seen" value="other" data-quiz-answer data-has-comment>
        <label for="quiz-Sonstige">
          <div class="quiz-option__circle">
          </div>
          <span class="details">{{ "personalized_quiz.channel_first_seen.option_other" | t }}</span>
        </label>
      </div>

      <div class="quiz-option input-wrapper">
        <input id="channel_first_seen_comment" type="text" class="input m-underline" name="channel_first_seen_comment" placeholder="" data-quiz-answer-andere data-quiz-answer>
        <label for="channel_first_seen_comment" class="label">{{ "personalized_quiz.channel_first_seen.option_other" | t }}</label>
      </div>

    </div>
    <div class="quiz-item__buttons quiz-item__buttons-floating">
      <button type="button" data-quiz-prev class="btn btn--tertiary"><img src="{{ 'icon-quiz-back.svg' | asset_url }}" class="quiz-option__img" alt=""></button>
      <button type="button" data-quiz-next class="btn">{{ "personalized_quiz.channel_first_seen.button_next_text" | t }}</button>
    </div> 
  </div>
</div>
<!-- / q20 -->