<section class="coach-content__section coach-content__section4" data-scroll-section="{{ block.id }}">
  <div class="page-width coach-content__section-wrapper">

    <h3 class="h1-headline span-align-heading coach-content__section-title coach-content__section4-title">{{ block.settings.title }}</h3>
    <p class="h2-headline coach-content__section4-desc">{{ block.settings.desc }}</p>
    
    <p class="p coach-content__section4-text">{{ block.settings.text }}</p>

    <div class="coach-content__section4-row1--content">
      <div class="h2-headline"><strong>{{ block.settings.row1_title }}</strong></div>
      <div class="p coach-content__section4-row1--desc">{{ block.settings.row1_desc }}</div>
    </div>
    {% assign row1_image = block.settings.row1_image %}
    {% if row1_image != blank %}
      <img src="{{ row1_image | img_url: '900x' }}" alt="{{ row1_image.alt }}" class="coach-content__section4-row1--image" loading="lazy" />
    {% endif %}

    <div class="coach-content__section4-row2--image-wrapper">
      {% assign row2_image = block.settings.row2_image %}
      {% if row2_image != blank %}
        <img src="{{ row2_image | img_url: '1200x' }}" alt="{{ row2_image.alt }}" class="coach-content__section4-row2--image" loading="lazy" />
      {% endif %}
      <h4 class="h2-headline coach-content__section4-row2--subtitle">{{ block.settings.row2_subtitle }}</h4>
    </div>
    <div class="coach-content__section4-row2--content">
      <div class="h2-headline"><strong>{{ block.settings.row2_title }}</strong></div>
      <div class="p coach-content__section4-row2--desc">{{ block.settings.row2_desc }}</div>
    </div>


    {% assign row3_image1 = block.settings.row3_image1 %}
    {% if row3_image1 != blank %}
      <img src="{{ row3_image1 | img_url: '800x' }}" alt="{{ row3_image1.alt }}" class="coach-content__section4-row3--image1" loading="lazy" />
    {% endif %}

    {% assign row3_image2 = block.settings.row3_image2 %}
    {% if row3_image2 != blank %}
      <img src="{{ row3_image2 | img_url: '1300x' }}" alt="{{ row3_image2.alt }}" class="coach-content__section4-row3--image2" loading="lazy" />
    {% endif %}

    {% assign row3_image3 = block.settings.row3_image3 %}
    {% if row3_image3 != blank %}
      <img src="{{ row3_image3 | img_url: '1000x' }}" alt="{{ row3_image3.alt }}" class="coach-content__section4-row3--image3" loading="lazy" />
    {% endif %}

    <div class="p coach-content__section4-row3--desc">{{ block.settings.row3_desc }}</div>


    <div class="coach-content__section4-row4--content">
      <div class="h2-headline"><strong>{{ block.settings.row4_title }}</strong></div>
      <div class="p coach-content__section4-row4--desc">{{ block.settings.row4_desc }}</div>
    </div>
    {% assign row4_image = block.settings.row4_image %}
    {% if row4_image != blank %}
      <img src="{{ row4_image | img_url: '1000x' }}" alt="{{ row4_image.alt }}" class="coach-content__section4-row4--image" loading="lazy" />
    {% endif %}
    
  </div>
</section>

{% if block.settings.bg_color_variable != blank %}
  <style>
    .coach-content__section4 {
      background-color: var({{ block.settings.bg_color_variable }});
    }
  </style>
{% endif %}
