{{ 'accordion.css' | asset_url | stylesheet_tag }}

{% assign stru_data = section.settings.google_structured_data %}

<section class="page-width accordion-section__wrapper {% unless section.settings.padding_top %}pt-0{% endunless %} {% unless section.settings.padding_bottom %}pb-0{% endunless %}" id="{{ section.settings.id }}">
  {% assign html_heading = section.settings.html_heading %}

  {%- if html_heading != blank -%}
    {{ html_heading }}
  {%- endif -%}

  {% if section.settings.description != blank %}
    <div class="description p">{{ section.settings.description }}</div>
  {% endif %}
  
  <dl class="accordion__items js-accordion-items">
    {% for block in section.blocks %}
      <div {% if stru_data %}itemscope itemprop="mainEntity" itemtype="https://schema.org/Question"{% endif %}>
        <dt>
          <button class="accordion__item-button p" type="button" aria-controls="panel-{{ block.id }}" data-button-id="{{ block.id }}" aria-expanded="true">
            <strong {% if stru_data %}itemprop="name"{% endif %}>{{ block.settings.title }}</strong>
            {% render 'icon-cross' %}
          </button>
        </dt>
        <dd class="accordion__item-content p" data-content-id="{{ block.id }}" aria-hidden="true" {% if stru_data %}itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"{% endif %}>
          <div {% if stru_data %}itemprop="text"{% endif %}>{{ block.settings.answer }}</div>
        </dd>
      </div>
    {% endfor %}
  </dl>

</section>

{% if section.settings.bg_color_variable != blank %}
<style>
  #shopify-section-{{ section.id }}.accordion-section {
    background-color: var({{ section.settings.bg_color_variable }});
  }
</style>
{% endif %}

{% if stru_data %}
<script>
  window.addEventListener('DOMContentLoaded', () => {
    document.querySelector('html').setAttribute("itemtype", "https://schema.org/FAQPage");
    document.querySelector('html').setAttribute("itemscope", "");
  });
</script>
{% endif %}

{% javascript %}
const buttons = document.querySelectorAll('.js-accordion-items button[aria-controls]');

buttons.forEach(button => {
	button.addEventListener('click', function(){
		var id = button.dataset.buttonId;
		var $content = document.querySelector('[data-content-id="' + id + '"]');	
		
		if ($content.classList.contains('show')) {
			$content.classList.remove('show');
			button.classList.remove('active');
			$content.setAttribute('aria-hidden', 'true');
		} else {
			$content.classList.add('show');
			button.classList.add('active');
			$content.setAttribute('aria-hidden', 'false');
		}
  });
});
{% endjavascript %}

{% schema %}
{
  "name": "Accordion",
  "tag": "section",
  "class": "accordion-section",
  "settings": [
    {
      "type": "text",
      "id": "bg_color_variable",
      "label": "Background Color CSS Variable Name"
    },
    {
      "type": "html",
      "id": "html_heading",
      "label": "Heading Html",
      "default": "<h3 class=\"h2-headline\" style=\"grid-column: 1\/13; margin-bottom: 3rem;\">\n<strong>Astronautennahrung im Überblick - die wichtigsten Fragen kompakt beantwortet<\/strong>\n    <\/h3>"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "id",
      "label": "ID"
    },
    {
      "type": "checkbox",
      "id": "google_structured_data",
      "label": "Structure Data (FAQPage)",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "padding_top",
      "label": "Padding-top",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "padding_bottom",
      "label": "Padding-bottom",
      "default": true
    }
  ],
  "blocks": [
    {
      "name": "Tab content",
      "type": "question",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Accordion"
    }
  ]
}
{% endschema %}