{{ 'card.css' | asset_url | stylesheet_tag }}

<section id="{{ section.settings.section_id }}" class="card__wrapper page-width {% unless section.settings.padding_top %}pt-0{% endunless %} {% unless section.settings.padding_bottom %}pb-0{% endunless %}">
  {% comment %}
    <h3 class="card__title h2-headline">{{ section.settings.title }}</h3>
    
    <div class="card__section1-items">
        <div class="card__section-item" >
            {% if section.settings.s1_a_icon != blank %}
                <img src="{{ section.settings.s1_a_icon }}" alt="">
            {% elsif section.settings.s1_a_highlight != blank %}
                <h4 class="h1-headline">{{ section.settings.s1_a_highlight }}</h4>
            {% endif %}
            {% if section.settings.s1_a_text != blank %}
                <div class="p">
                    {{ section.settings.s1_a_text }}
                </div>
            {% endif %}
        </div>
        <div class="card__section-item">
            {% if section.settings.s1_b_icon != blank %}
                <img src="{{ section.settings.s1_b_icon }}" alt="">
            {% elsif section.settings.s1_b_highlight != blank %}
                <h4 class="h1-headline">{{ section.settings.s1_b_highlight }}</h4>
            {% endif %}
            {% if section.settings.s1_b_text != blank %}
                <div class="p">
                    {{ section.settings.s1_b_text }}
                </div>
            {% endif %}
        </div>
    </div>
    {% endcomment %}

    <div class="card__s2-titles">
        {% assign heading_tag = section.settings.heading_tag %}
        <{{ heading_tag }} class="card__subtitle span-align-heading {{ section.settings.heading_style }}">{{ section.settings.title }}
        </{{ heading_tag }}>
          
        <div class="card__subtext p">{{ section.settings.subtitle }}</div>
    </div>

    <div class="card__cards js-card__cards">
      {% for block in section.blocks %}
        <div class="card__card" style="background-image: url('{{ block.settings.card_bg_image | img_url: '1000x' }}');">
            <h4 class="card__card-title h5-headline">{{ block.settings.card_title }}</h4>
            <div class="card__card-text p">{{ block.settings.card_text }}</div>
        </div>
      {% endfor %}
    </div>
  
    {% if section.settings.card_btn_text != blank %}
      <div class="card__btn-wrapper">
        <a class="card__btn btn {{ section.settings.card_btn_style }}" href="{{ section.settings.card_btn_url }}">{{ section.settings.card_btn_text }}</a>
      </div>
    {% endif %}
</section>

<script>
    window.addEventListener('DOMContentLoaded', () => {
      const $cards = document.querySelector('.js-card__cards');
      if ($cards) {
        new Glider(document.querySelector('.js-card__cards'), {
          slidesToShow: "auto",
          slidesToScroll: 1,
          draggable: true,
          itemWidth: 315,
          exactWidth: true,
          responsive: [
            {
              breakpoint: 1024,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 1,
              },
            },
          ],
        });
      }
  
    });
  </script>

  {% if section.settings.bg_color != blank %}
    <style>
        #shopify-section-{{ section.id }}.card {
            background-color: var({{ section.settings.bg_color }});
        }
    </style>
  {% endif %}

{% schema %}
{
    "name": "Card",
    "tag": "section",
    "class": "card",
    "settings": [
        {
            "type": "text",
            "id": "bg_color",
            "label": "Background Color",
            "info": "CSS Variable name eg. --color-white"
        },
        {
            "type": "html",
            "id": "title",
            "label": "Title"
        },
        {
          "type": "select",
          "id": "heading_style",
          "label": "Style",
          "info": "Define what class this element should get",
          "options": [
            {
              "value": "",
              "label": "None"
            },
            {
              "value": "h1-headline",
              "label": "H1"
            },
            {
              "value": "h2-headline",
              "label": "H2"
            },
            {
              "value": "h2-headline bold",
              "label": "H2 bold"
            }
          ]
        },
        {
          "type": "select",
          "id": "heading_tag",
          "label": "HTML-Tag",
          "info": "Decide which HTML tag this Element should get",
          "options": [
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ]
        },
        {
            "type": "richtext",
            "id": "subtitle",
            "label": "Subtitle"
        },
        {
          "type": "checkbox",
          "id": "padding_top",
          "label": "Padding-top",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "padding_bottom",
          "label": "Padding-bottom",
          "default": true
        },
        {
          "type": "text",
          "id": "card_btn_text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "card_btn_url",
          "label": "Button Link"
        },
        {
          "type": "select",
          "id": "card_btn_style",
          "label": "Button Style",
          "options": [
            {
              "value": "",
              "label": "Default"
            },
            {
              "value": "btn--primary",
              "label": "Primary"
            },
            {
              "value": "btn--secondary",
              "label": "Secondary"
            },
            {
              "value": "btn--tertiary",
              "label": "Tertiary"
            },
            {
              "value": "btn--text",
              "label": "Text"
            }
          ],
          "default": "btn--text"
        },
        {
          "type": "text",
          "id": "section_id",
          "label": "Section ID"
        }
    ],
    "blocks": [
      {
        "type": "card",
        "name": "Card",
        "settings": [       
          {
              "type": "text",
              "id": "card_title",
              "label": "Title"
          },
          {
              "type": "richtext",
              "id": "card_text",
              "label": "Text"
          },
          {
              "type": "image_picker",
              "id": "card_bg_image",
              "label": "Background Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Card"
      }
    ]
}
{% endschema %}